<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="differential_drive_robot">
<xacro:include filename="$(find nuturtle_description)/urdf/diff_drive.urdf.xacro"/>

<gazebo reference="left_wheel">
<mu1>1000</mu1>
<mu2>1000</mu2>
<!--minDepth>0.001</minDepth-->
<!--fdir1>1 0 0 </fdir1-->
<maxVel>0.1</maxVel>
<kp>500000</kp>
<kd>10</kd>
<!--dampingFactor>0.5</dampingFactor-->
<material>Gazebo/Black</material>
</gazebo>

<gazebo reference="right_wheel">
<mu1>1000</mu1>
<mu2>1000</mu2>
<!--minDepth>0.001</minDepth>
<fdir1>1 0 0 </fdir1-->
<maxVel>0.1</maxVel>
<kp>500000</kp>
<kd>10</kd>
<!--dampingFactor>0.5</dampingFactor-->
<material>Gazebo/Black</material>
</gazebo>

<gazebo reference="base_link">
<material>Gazebo/Red</material>
</gazebo>

<gazebo reference="castor">
<mu1>1000</mu1>
<mu2>1000</mu2>
<!--minDepth>0.001</minDepth-->
<maxVel>1.0</maxVel>
<kp>1000000</kp>
<kd>100</kd>
<!--dampingFactor>0.5</dampingFactor-->
<material>Gazebo/Black</material>
</gazebo>



<gazebo>
<plugin name="differential_drive_controller" filename="libturtle_drive_plugin.so">
<left_wheel_joint>left_joint_axle</left_wheel_joint>
<right_wheel_joint>right_joint_axle</right_wheel_joint>
<sensor_frequency>50</sensor_frequency>
<encoder_ticks_per_rev>4096</encoder_ticks_per_rev>
<wheel_cmd_topic>wheel_cmd</wheel_cmd_topic>
<sensor_topic>sensor_data</sensor_topic>
</plugin>
</gazebo>

</robot>
