<launch>
  <include file="$(find nuturtle_robot)/launch/follow_waypoints.launch">
  <arg name="robot" value="-1"/>
  <arg name="is_laser_needed" value="false"/>
  </include>

  <arg name="world_name" default="empty_world" doc="The world in which the turltebot should be launched"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/$(arg world_name).world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

 <node name='spawn_model' pkg="gazebo_ros" type="spawn_model" args=" -urdf -param robot_description -model ddrive -b"/>

</launch>
