<launch>
  <!-- This launch file launches all the nodes necessary for driving a turtle -->
  <!-- through a predefined trajectory of way points and using that velocity-->
  <!-- to simulate a fake encoder for a differential dirve robot and update its -->
  <!-- odometry -->
  <include file="$(find tsim)/launch/turtle_pent.launch" />
  <include file="$(find nuturtle_description)/launch/view_diff_drive.launch">
    <arg name="is_jsp_needed" value="False"/>
    <arg name="use_jsp_gui" value="False"/>
    <arg name="rviz_path" value="$(find nuturtle_description)/config/diff_drive_odometry.rviz" />
  </include>

  <node name="rigid2d_fake_encoders" pkg="rigid2d" type="rigid2d_fake_encoders" output="screen">
  <param name="left_wheel_joint" value="left_wheel_axle"/>
  <param name="right_wheel_joint" value="right_wheel_axle"/>
  </node>
  <node name="rigid2d_odometry_node" pkg="rigid2d" type="rigid2d_odometry_node" output="screen">
  <param name="odom_frame_id" value="odom"/>
  <param name="body_frame_id" value="base_link"/>
  <param name="left_wheel_joint" value="left_wheel_axle"/>
  <param name="right_wheel_joint" value="right_wheel_axle"/>
  </node>
</launch>
